<div class="container">Notícias 
    <ul>
        <li>Notícia 1

            <ul>
                <li><a href="https://g1.globo.com" target="_blank">G1 Notícias </a></li>
            </ul>

        </li>
        <li>Notícia 2
            <ul>
                <li><a href="https://g1.globo.com" target="_blank">G1 Notícias</a></li>
            </ul>
        </li>
        <li>Notícia 3
            <ul>
                <li><a href="https://g1.globo.com" target="_blank">G1 Notícias</a></li>
            </ul>
        </li>
    </ul>
</div>