/* Reset de estilos padrão para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para diferentes tamanhos de fonte em cabeçalhos e parágrafos */
h1, h2 {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: rgb(15, 15, 15);
}

h2 {
  color: rgb(0, 0, 0);
}

p {
  font-family: 'Poppins', sans-serif;
}

/* Estilos para o cabeçalho com logo */
.logo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #131314;
  padding: 1.800rem;
}

.logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #020249;
  padding: 0.600rem;
}

.menu-section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 96px;
}

.logo-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 96px;
}

.sectionNoticias a {
  color: #121212;
  text-decoration: none;
}

body {
  background-color: #020249;
}

/* Estilos para a imagem no cabeçalho */
header img {
  width: 102%;
}

/* Espaçamento entre o cabeçalho e o conteúdo principal */
main {
  margin-top: 1.875rem;
}

/* Grid container para seções principais */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 1rem;
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* Estilos compartilhados para várias seções */
.menu-section,
.sectionNoticias,
.sectionDestaque,
.services-section,
.results-section,
.footer {
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  padding: .5rem;
}

/* Estilos para cabeçalhos em seções */
.menu-section > header,
.sectionNoticias > header,
.sectionDestaque > header,
.services-section > header,
.results-section > header {
  border-bottom: 3px solid rgb(0, 0, 0);
  margin-bottom: .5rem;
}

/* Estilos para listas em seções */
.menu-section > ul,
.sectionNoticias > ul,
.sectionDestaque > ul {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

/* Estilos para itens de lista */
li {
  list-style: none;
  margin-bottom: .2rem;
}

/* Estilos específicos para a seção de destaque */
.sectionDestaque ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionDestaque img {
  width: 6.25rem;
}

/* Estilos para a container de serviços e resultados */
.services-results-container {
  display: grid;
  grid-template-columns: 1.99fr 3.01fr;
  gap: 1rem;
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.results-section a {
  text-decoration: none;
  color: black;
}

/* Estilos para o rodapé fixo */
.footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
}

.footer-section h2 {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-section {
  padding: 10px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section a {
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
  margin: 0;
}

/* Media queries para tornar o layout responsivo */
@media screen and (max-width: 1184px) {
  .grid-container,
  .services-results-container {
      width: 100%;
      padding: 20px;
  }

  * {
      font-size: 1.2rem;
  }

  main {
      margin-top: .625rem;
  }
}

@media screen and (max-width: 728px) {
  * {
      font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .grid-container,
  .services-results-container {
      grid-template-columns: 1fr;
      padding: 15px;
  }

  main {
      margin-top: .625rem;
  }
}