@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.angry-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100vh;
}

#item-0 {
    background-color: #ffffff;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.menu {
    background-color: #ffffff;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#item-2 {
    background-color: #B8B7D5;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 5;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 30px;
}


#item-3 {
    background-color: rgb(73, 116, 217);
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 5px;
}

#item-4 {
    background-color: rgb(73, 116, 217);
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#item-5 {
    background-color: rgb(73, 116, 217);
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 6;
    margin-bottom: 10px;
    padding: 30px;
}


@media (max-width: 1200px) {
    .angry-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }


    #item-0 {
        grid-row-end: 2;
        grid-column-end: 2;
    }


    .menu,
    #item-2,
    #item-3,
    #item-4,
    #item-5,
    #item-6 {
        grid-row-start: auto;
    }
}


#item-0 {
    background-color: #ffffff;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.menu {
    background-color: #ffffff;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#item-2 {
    background-color: #B8B7D5;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 5;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 30px;
    font-family: 'Bebas Neue';
}

#item-3 {
    background-color: rgb(73, 116, 217);
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 5px;
}

#item-4 {
    background-color: rgb(181, 198, 237);
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 30px;
}

#item-5 {
    background-color: rgb(149, 171, 224);
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 6;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 5px;

    
}

#item-6 {
    background-color: rgb(173, 194, 243);
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;
    color: #060000;
    font-family: sans-serif;
}


@media (max-width: 1200px) {
    .angry-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }


    #item-0 {
        grid-row-end: 2;
        grid-column-end: 2;
    }


    .menu,

    #item-2,
    #item-3,
    #item-4,
    #item-5,
    #item-6 {
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;
}

#item-6 h4 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}


button {
    background-color: #62aaf7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.menu {
    text-align: left;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f5f5f5;
}

p{
    font-size: 18px;
}

#item-4 ul {
    list-style-type: none;
    padding: 0;
}

#item-4 ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#item-4 ul li:hover {
    background-color: #e6e6e6;
}

#item-4 ul li::before {
    content: "\2022";
    color: #96e7f5;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
