<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEB-P006</title>
</head>
<body>
    <div class="container">
        <div class="container" id="header">Universidade Estadual de Santa Cruz</div>
        <app-noticias class="container" id="noticias"></app-noticias>
        <div class="container" id="menu">Menu</div>
        <app-destaque class="container" id="destaque"></app-destaque>
        <app-servicos class="container" id="servicos"></app-servicos>
        <app-resultados class="container" id="resultados"></app-resultados>
        <div class="container" id="footer">Universidade Estadual de Santa Cruz</div>
    </div>
</body>
</html>